<ion-view title="{{ title }}">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header" ng-switch="flag">
		<ion-refresher
				pulling-text="Pull to refresh..."
				on-refresh="doRefresh()">
		</ion-refresher>
		<div class="row row-center">
			<!--<label class="item item-input">
				<textarea type="text" placeholder="Pick Me Up"></textarea>
			  </label>-->
			<div class="col flag-div" ng-switch-when="push">
				<button class="button button-block button-icon icon ion-cloud flag-button" ng-click="send()">

				</button>
				<p class="text-center">TOUCH THE SMOKE! GATHER THE TRIBE!</p>
			</div>
		</div>
		<ion-list ng-switch-when="status">
			<a class="item" href="#" ng-repeat="item in buddies | orderBy:'gps'">
				<span>{{ item.regid }}</span>
				<span class="item-note">{{ item.gps }} m.</span>
				<span class="item-note"></span>
			</a>
		</ion-list>
		<ion-list ng-switch-when="respond">

			<div class="button-bar">
				<button class="button button-block col-50 icon-left ion-android-friends pink" ng-click="respond('yes')">I'am in!</button>
				<button class="button button-full col-50 icon-left ion-android-hand button-energized" ng-click="respond('no')">Not This Time</button>
			</div>
			<div class="button-bar">
				<button class="button button-block col-50 icon-left ion-android-call button-positive" ng-click="respond('call')">Call</button>
				<button class="button button-full col-50 icon-left ion-android-chat button-balanced" ng-click="respond('text')">Text</button>
			</div>

		</ion-list>

	</ion-content>
</ion-view>
